nav {
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;

    @media screen and (max-width: 768px) {
        background-color: white;
    }
}

.logo {
    z-index: 10000;
    position: absolute;
    top: 11px;
    left: 20px;
    width: auto;
    height: 48px;
    
    @media screen and (min-width: 1024px) {
        top: 20px;
        height: 70px;
    }
}