@mixin h1() {
    font-size: 36px;
    line-height: 44px;

    @media screen and (min-width: 768px) {
        font-size: 45px;
        line-height: 52px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 2rem;
        line-height: 64px;
        letter-spacing: -0.25px;
    }
}

@mixin paragraph() {
    font-family: synthese, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;
}

@mixin caption() {
    font-family: synthese, sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;

    @media screen and (min-width: 1024px) {
        font-size: 0.9rem;
    }
}