.cover-link {
    color: #0000ff;
    text-decoration: none;
    
    &:hover {
        background-color: rgba(0, 0, 255, 0.08);
        transition: background-color ease-in 0.2s;
    }
}

.cover-image-title {
    @include heading();

    font-family: 'Sporting Grotesque_Bold';
    letter-spacing: -0.05em;
}