.cover-image-link {
    color: #0000ff;
    text-decoration: none;
    
    .cover-image-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin: 5vh 0 15vh;
        text-decoration: none;
        scroll-behavior: smooth;
        scroll-snap-align: start;
        
        img {
            width: 100%;
            height: auto;
            max-height: 768px;
            object-fit: cover;
            transition: opacity ease-in 0.2s;
        }

        .cover-image-title {
            @include h1();
            
            font-family: 'Sporting Grotesque_Bold';
            letter-spacing: -0.05em;
        }

        @media screen and (min-width: 1024px) {
            margin: 0;
            padding: 0;

            img {
                width: 100vw;
                height: 100vh;
                max-height: 100vh;
            }

            .cover-image-title {
                position: absolute;
                left: 3.5vw;
                bottom: 3.5vw;
                margin: 0;
                line-height: 0;
            }
        }
    }
    
}