.project-img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.project-category {
    text-transform: uppercase;
}

.project-title {
    @include h1();
}

.project-text {
    @include paragraph();
}