nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;

    @media screen and (max-width: 768px) {
        background-color: white;
    }
}

.logo {
    width: auto;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;

    @media screen and (max-width: 768px) {
        height: 48px;
        margin-top: 11px;
    }
}