nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;

    @media screen and (max-width: 768px) {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(20px);
    }
}

.logo {
    width: auto;
    height: 56px;
    margin-left: 20px;
}